<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>臺灣快樂自由行</title>
    <link rel="stylesheet" href="css/bootstrap-4.0.0.css">
    <link rel="stylesheet" href="css/style.css">
	<link rel="preload" href="img/homebg1.JPG" as="image">
	<link rel="preload" href="img/homebg2.JPG" as="image">
	<link rel="preload" href="img/homebg3.JPG" as="image">
	<link rel="preload" href="img/homebg4.JPG" as="image">
</head>
<body>
	<img class="img-center addCart" src="img/add.png" alt="">
	<img id="menubtn" src="img/menubtn.png" alt="">
    <nav id="menu">
        <ul>
            <li><a  data-text="HOME"href="#home">首　　頁</a></li>
            <li><a  data-text="ABOUT"href="#about">關於我們</a></li>
            <li><a  data-text="EVENT"href="#event">最新活動</a></li>
            <li><a  data-text="SHOP"href="#shop">商品一覽</a></li>
            <li><a  data-text="CONTACT"href="#contact">聯絡我們</a></li>
            <li><a  data-text="LOG IN"href="#login">會員登入</a></li>
            <li><a  data-text="CART"href="#cart">購物車</a></li>
        </ul>
    </nav>
    <section id="home">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-sm-3 grid-center">
                    <div class="page">
                        <p>/04</p>
                    </div>
                </div>
                <div class="col-sm-6 grid-center">
                    <div class="titlebx">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-sm-3 grid-center">
                    <div class="slogan">
                        <ul>
                            <li>體驗當地人文特色</li>
                            <li>探勘歷史古蹟</li>
                            <li>品嘗在地美食美景</li>
                            <li>盡在「臺灣快樂自由行」</li>
                        </ul>
                        <a href="#about"><div class="btn btn-outline-light">read more</div></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-sm-4 flex-center">
                    <div class="ab-box">
						<span>01</span>
						<div>
							<h3 class="title">網路E時代</h3>
							<p>隨著科技日新月異，人們在家也可以了解外界的資訊，網站開發不僅僅是瀏覽，更可用來購物、玩遊戲、看新聞等......，具有多種用途，透過這個網站帶你認識臺灣文化特色及故事。</p>
						</div>
                    </div>
                </div>
                <div class="col-sm-4 flex-center">
                    <div class="ab-box ab-imgbx">
						<span>02</span>
						<div>
							<h3 class="title">關於臺灣</h3>
							<p>臺灣被稱為「福爾摩莎」，也就是美麗之島（Taiwan-Ilha Formosa），擁有豐富自然景觀
								及生態資源，其多元的傳統民俗、人文風情、現代藝文、美食文化，都讓遊客回味無窮。</p>
						</div>
                    </div>
                </div>
                <div class="col-sm-4 flex-center">
                    <div class="ab-box">
						<span>03</span>
						<div>
							<h3 class="title">我們的理想</h3>
							<p>為讓年輕學子認識臺灣寶島故鄉特色，並鼓勵年青人深入臺灣地方及鄉村壯遊，一方面創新學習，一方面認識臺灣鄉土的社會文化新意義，培養對這塊土地的熱情與關懷。</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="event">
        <div class="container_fluid h-100">
            <div class="row event-row pt-3">
                <div class="col-sm-6 grid-right right">
                    <div class="eventbx event-pic1" href="#event1"></div>
					<img class="event-imgchk" src="img/event-chk1.png" alt="">
                </div>
                <div class="col-sm-6 grid-left left">
                    <div class="eventbx" href="#event1">
						<h3 class="title">鹿港天后宮</h3>
						<p>國定古蹟的殿宇鹿港天后宮，坐落在早期貿易興盛、文化薈萃的鹿港...... <a href="#event1">查看更多</a></p>
					</div>
                </div>
            </div>
            <div class="row event-row">
                <div class="col-sm-4 grid-right">
                    <div class="eventbx" href="#event2">
						<h3 class="title">彰化花燈</h3>
						<p>每年春節過後，緊接著便是元宵節，今年「台灣燈會」由彰化縣政府接力舉辦...... <a href="#event2">查看更多</a></p>
					</div>
                </div>

                <div class="col-sm-4 grid-center">
                    <div class="joinbx">
						<div class="event-content" id="event1">
							<h3 class="title">鹿港天后宮</h3>
							<p>國定古蹟的殿宇鹿港天后宮，坐落在早期貿易興盛、文化薈萃的鹿港，更因為屢顯神蹟，香火始終鼎盛不衰，是台灣相當具代表性的媽祖廟。</p>				
							 <a href="#join"><button class="btn">報名活動</button></a>
						</div>
						
						<div class="event-content" id="event2">
							<h3 class="title">彰化花燈</h3>
							<p>今年「台灣燈會」由彰化縣政府接力舉辦，結合不同主題，打造「花在彰化」系列活動，夜間觀賞更具有震撼感，相當夢幻。</p>
							<a href="#join">
								<a href="#join"><button class="btn">報名活動</button></a>
							</a>
						</div>
						
						<div class="event-content" id="event3">
							<h3 class="title">國樂演奏</h3>
							<p>音樂是藝術的一環，傳統樂器相較於現代樂器，更能展現鄉土故事的情懷，多種樂器渲染出不同層次的聽覺饗宴，精采演出將在國家兩廳院展開。</p>
							<a href="#join">
								<a href="#join"><button class="btn">報名活動</button></a>
							</a>
						</div>
					</div>
                </div>

                <div class="col-sm-4 grid-left">
                    <div class="eventbx event-pic2" href="#event2"></div>
					<img class="event-imgchk chk2" src="img/event-chk2.png" alt="">
                </div>
            </div>
            <div class="row event-row pb-3">
                <div class="col-sm-6 grid-right right">
                    <div class="eventbx event-pic3" href="#event3"></div>
					<img class="event-imgchk" src="img/event-chk3.png" alt="">
                </div>
                <div class="col-sm-6 grid-left left">
                    <div class="eventbx" href="#event3">
						<h3 class="title">國樂演奏</h3>
						<p>音樂是藝術的一環，傳統樂器相較於現代樂器，更能展現鄉土故事的情懷...... <a href="#event3">查看更多</a></p>
					</div>
                </div>
            </div>
        </div>
    </section>
    <section id="shop">
		<div class="container pt-4">
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-12">
							<h4>---日曆系列---</h4>
						</div>
						<div class="col-sm-12">
							<select class="view-switch form-control w-50">
								<option value="1">賞鷹平台</option>
								<option value="2">八家將</option>
								<option value="3">布袋戲</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-12">
							<h4>---月曆系列---</h4>
						</div>
						<div class="col-sm-12">
							<select class="view-switch form-control w-50">
								<option value="4">肉圓</option>
								<option value="5">GODIVA月餅</option>
								<option value="6">彰化火車站</option>
								<option value="7">鐵路</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-12">
							<h4>---明信片系列---</h4>
						</div>
						<div class="col-sm-12">
							<select class="view-switch form-control w-50">
								<option value="8">彰化孔廟</option>
								<option value="9">彰化八卦山大佛</option>
								<option value="10">鹿港老街</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="container_fluid">
            <div class="row pd-main">
                <div class="col-md-9" id="app">
					<div class="page-icon">
						<a href="#home"><img src="img/top.png" alt=""></a>
						<a href="#cart"><img src="img/cart.png" alt=""></a>
						<span class="num">{{num}}</span>
					</div>
					<div id="cart">
						<table class="table">
							<thead>
								<tr>
									<th colspan="4">購物車</th>
									<th><span class="close-form">x</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>品項</td>
									<td>數量</td>
									<td>單價</td>
									<td cols="2">小計</td>
									<td></td>
								</tr>
								<tr v-for="product in productInCart">
									<td>{{product.name}}</td>
									<td>{{product.amount}}</td>
									<td>{{product.price}}</td>
									<td>{{product.sum}}</td>
									<td><button type="button" class="btn del-btn" @click="remove(product)">x</button></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="total" colspan="4">total$ {{total}}</td>
								</tr>
							</tfoot>
					  </table>
						<div class="flex-around">
						  <button type="button" class="btn checkout">前往付款</button>
						  <button type="button" class="btn close-form">關閉</button>
						</div>
					</div>
                    <div class="row h-100 tab" v-for="product in products" :id="[product.id]">
                        <div class="col-sm-5 grid-center pdimgbx">
							<img :src="product.thumb" alt="">
                        </div>
                        <div class="col-sm-7 grid-center">
                            <div>
                                <div>
                                    <h3>{{product.name}}</h3>
                                    <p>{{product.content}}</p>
                                </div>
                                <div class="pricebx">
                                    <p>價格: {{product.price}}&nbsp;<span class="heart">&#10084;</span></p>
                                </div>
                                <div class="actionbx flex-center">
									<div>
										<button type="button" class="btn round" @click="minusOne(product)">-</button>
										<span>&nbsp;{{product.amountShow}}&nbsp;</span>
										<button type="button" class="btn round" @click="addOne(product)">+</button>
										<button class="btn add" @click="addToCart(product)">加入購物車</button>
									</div>
									<div class="shop-slogan">
										<img src="img/slogan1.png" alt="">
										<img src="img/slogan2.png" alt="">
										<img src="img/slogan3.png" alt="">
										<img src="img/slogan4.png" alt="">
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 flex-center">
						<img class="timeline" src="img/process.png" alt="">
                </div>
            </div>
            <div class="row">
				<a href="#shop">
					<div class="block-container">
						<div  href="#tab1" class="block"><img src="img/pd1.jpg" alt=""></div>
						<div  href="#tab2" class="block"><img src="img/pd2.jpg" alt=""></div>
						<div  href="#tab3" class="block"><img src="img/pd3.JPG" alt=""></div>
						<div  href="#tab4" class="block"><img src="img/pd4.jpg" alt=""></div>
						<div  href="#tab5" class="block"><img src="img/pd5.jpg" alt=""></div>
						<div  href="#tab6" class="block"><img src="img/pd6.jpg" alt=""></div>
						<div  href="#tab7" class="block"><img src="img/pd7.jpg" alt=""></div>
						<div  href="#tab8" class="block"><img src="img/pd8.jpg" alt=""></div>
						<div  href="#tab9" class="block"><img src="img/pd9.jpg" alt=""></div>
						<div  href="#tab10" class="block"><img src="img/pd10.jpg" alt=""></div>
					</div>
				</a>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-sm-6 flex-center">
                    <form class="contactbx">
                        <h2 class="title">聯絡我們</h2>
                        <div class="form-group">
                            <label>姓名</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>電話</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>電子信箱</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>意見回饋</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
						<div class="flex-around">
							<button type="button" class="btn mx-auto checkout">送出</button>
                            <button type="reset" class="btn mx-auto">清空</button>
						</div>
                    </form>
                </div>
                <div class="col-sm-6 flex-center">
                    <form class="contactbx">
                        <h2 class="title">有獎徵答</h2>
                        <p class="text-center">答對有機會獲得觀光券</p>
                        <div class="form-group">
                            <label>我們的主題?</label>
                            <select class="form-control">
                                <option value="">美食遊記</option>
                                <option value="">臺灣快樂自由行</option>
                                <option value="">探險花路米</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>主要介紹什麼?</label>
                            <select class="form-control">
                                <option value="">臺灣人文特色</option>
                                <option value="">臺灣傳統建築</option>
                                <option value="">以上皆是</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>我們的理想?</label>
                            <select class="form-control">
                                <option value="">推廣臺灣文化</option>
                                <option value="">賣周邊商品</option>
                                <option value="">無理想</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>臺灣又稱?</label>
                            <select class="form-control">
                                <option value="">福爾摩斯</option>
                                <option value="">福爾摩莎</option>
                                <option value="">都不是</option>
                            </select>
                        </div>
						<div class="flex-center pt-5">
						 	<button type="button" class="btn checkout2">送出</button>
						</div>  
                    </form>
                </div>
            </div>
        </div>
    </section>
	<form id="login" class="all-form">
		<div class="form-group">
			<h2 class="title">會員登入</h2>
		</div>
		<div class="form-group">
			<label>帳號</label>
			<input type="text" placeholder="請輸入帳號" required>
		</div>
		<div class="form-group">
			<label>密碼</label>
			<input type="text" placeholder="請輸入密碼" required>
		</div>
		<div class="form-group">
			<p>還不是會員? <a href="#reg">註冊</a></p>
		</div>
		<div class="form-group mb-3">
			<p>使用其他方式登入</p>
			<div class="flex-around">
				<img class="social" src="img/fb.png" alt="">
				<img class="social" src="img/gmail.png" alt="">
				<img class="social" src="img/line.png" alt="">
			</div>
		</div>
		<div class="form-group flex-around">
			<button type="submit" class="btn checkout">登入</button>
			<button type="button" class="btn close-form">關閉</button>
		</div>
	</form>
	<form id="reg" class="all-form">
		<div class="form-group">
			<h2 class="title">會員註冊</h2>
		</div>
		<div class="form-group">
			<label>姓名</label>
			<input type="text" placeholder="請輸入姓名" required>
		</div>
		<div class="form-group">
			<label>信箱</label>
			<input type="text" placeholder="請輸入信箱" required>
		</div>
		<div class="form-group">
			<label>帳號</label>
			<input type="text" placeholder="請輸入帳號" required>
		</div>
		<div class="form-group">
			<label>密碼</label>
			<input type="text" placeholder="請輸入密碼" required>
		</div>
		<div class="form-group">
			<p>已有會員? <a href="#login">登入</a></p>
		</div>
		<div class="form-group flex-around">
			<button type="submit" class="btn checkout">註冊</button>
			<button type="button" class="btn close-form">關閉</button>
		</div>
	</form>
	<form id="join" class="all-form">
		<div class="form-group">
			<h2 class="title">活動報名</h2>
		</div>
		<div class="form-group">
			<label>姓名</label>
			<input type="text" placeholder="請輸入姓名">
		</div>
		<div class="form-group">
			<label>信箱</label>
			<input type="text" placeholder="請輸入信箱">
		</div>
		<div class="form-group">
			<label>報名人數</label>
			<input type="number" max="10" min="1">
		</div>
		<div class="form-group">
			<label>報名活動</label>
			<select name="" id="">
				<option value="">鹿港天后宮</option>
				<option value="">國樂演奏</option>
				<option value="">彰化花燈</option>
			</select>
		</div>
		<div class="form-group flex-around">
			<button type="button" class="btn checkout">註冊</button>
			<button type="button" class="btn close-form">關閉</button>
		</div>
	</form>
	<footer>
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-sm-4 flex-center">
					<h4>快速導覽</h4>
					<div>
						<p><a href="#home">首　　頁</a></p>					
						<p><a href="#about">關於我們</a></p>
						<p><a href="#event">最新活動</a></p>
						<p><a href="#shop">商品一覽</a></p>
						<p><a href="#contact">聯絡我們</a></p>
					</div>
				</div>
				<div class="col-sm-4">
					<h4>店家資訊</h4>
					<div class="info">
						<p><span><img class="info-icon" src="img/phone.png" alt=""></span> 客服電話: (02)1234-5678</p>
						<p><span><img class="info-icon" src="img/info-mail.png" alt=""></span>客服信箱: 123@gmail.com</p>
						<p><span><img class="info-icon" src="img/id.png" alt=""></span> 客服ID: a001</p>
					</div>
				</div>
				<div class="col-sm-4">
					<h4>訂閱電子報</h4>
					<div class="info">
						<p class="text-center">追蹤我們 查看最新資訊</p>
						<div class="form-group flex-center">
							<input type="text" class="form-control w-75" placeholder="請輸入電子信箱">
							<button class="btn checkout" type="button">訂閱</button>
						</div>
						<div class="flex-around">
							<img class="social" src="img/fb.png" alt="">
							<img class="social" src="img/gmail.png" alt="">
							<img class="social" src="img/line.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.0.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/all.js"></script>
    <script src="js/cart.js"></script>
</body>
</html>